<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página de Cadastro</title>

  <!-- este bloco será padrão para todas aspáginas (p enquanto) -->
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

  <!-- link p bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- link p bootstrap icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- link p css externo -->
  <link rel="stylesheet" href="/static/style.css" /> 

  <!-- Link interno css -->
   <link rel="stylesheet" href="/static/fonts.css">

   <link rel="stylesheet" href="/static/global.css">

   <link rel="stylesheet" href="/static/reset.css">

   <link rel="stylesheet" href="/static/variables.css">
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</head>

<body>
  <!-- header, simples e será padrão também -->
  <header>
    <div class="header__container container d-flex justify-content-between align-items-center py-3">
      <!-- imagem logo -->
      <div class="header__logo">
        <img src="/static/img/Nutrifit logo.png" alt="Logo da Empresa" class="header__logo-image">
      </div>
      <nav class="header__nav d-flex gap-3 align-items-center">
        <a href="/paginalogin" class="header__link">Já possui uma conta? Entrar <i
            class="bi bi-person-lines-fill"></i></a>
        <!-- retornar a página principal -->
        <a href="/paginainicial" class="header__link">Voltar a página inicial <i class="bi bi-house-fill"></i></a>
      </nav>
    </div>
  </header>

  <!-- login para usuário, área de recolher dados -->
  <main>
    <section class="register">
        <h2 class="register__title">Dados Pessoais*</h2>
        <form class="register__form" action="/post/cadastrarusuario" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" name="email">
          </div>
  
          <div class="mb-3">
            <label for="nome" class="form-label">Nome Completo:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite seu nome completo" name="nome">
          </div>
  
          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone para Contato:</label>
            <input type="tel" class="form-control" id="telefone" placeholder="(xx) xxxxx-xxxx" name="telefone">
          </div>
  
          <div class="row">
            <div class="mb-3 col-md-8">
              <label for="endereco" class="form-label">Endereço de entrega:</label>
              <input type="text" class="form-control" id="endereco" placeholder="Rua, Avenida, etc." name="endereco">
            </div>
  
            <div class="mb-3 col-md-4">
              <label for="numero" class="form-label">Nº do endereço:</label>
              <input type="number" class="form-control" id="numero" placeholder="000" name="numero">
            </div>
          </div>
  
          <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="mín de 8 caracteres:" name="senha">
          </div>
  
          <div class="d-flex justify-content-between gap-2 mt-4">
            <a href="/paginainicial" class="w-50">
              <button type="button" class="btn register__back-btn w-100">Voltar</button>
            </a>
            <button type="submit" class="btn register__btn w-50">Cadastrar</button>
          </div>
        </form>
      </section>
  </main>

  <!-- colocar o whatsapp de algúem apenas p embelezar o site -->
  <footer>
    <div class="footer__container container text-center py-3">
      <a href="#" class="footer__link">TikTok <i class="bi bi-tiktok"></i></a>
      <a href="#" class="footer__link">Instagram <i class="bi bi-instagram"></i></a>
      <a href="#" class="footer__link">Whatsapp <i class="bi bi-whatsapp"></i></a>
    </div>
  </footer>
</body>

</html>