<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Produtos</title>

    <!-- este bloco será padrão para todas aspáginas (p enquanto) -->
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <!-- link p bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- link p bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- link p css externo -->
    <link rel="stylesheet" href="/static/style.css" />
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</head>

<body>

    <header>
        <div>
            <!-- logo também é padrão -->
            <div class="header__logo"><img alt="Logo da Empresa" class="header__logo-image"></div>
            <div>
                <span>olá, Fulano!</span>
                <a href="#">Meu carrinho</a>
                <!-- aqui a gabi nomeoou como pagina inicial e não como index, alterar -->
                <a href="pagina-inicial.html">
                    <i></i>
                </a>
            </div>
        </div>
    </header>

    <main>
        <section>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </main>

    <!-- footer vai ser padrão em todos -->
    <footer class="footer">
        <div class="footer__container container text-center py-3">
            <a href="#" class="footer__link">TikTok</a>
            <a href="#" class="footer__link">Instagram</a>
            <a href="#" class="footer__link">Whatsapp</a>
        </div>
    </footer>

</body>

</html>