footer {
    background-color: var(--cor-header);
    color: var(--cor-white);
    text-align: center;
    padding: 1.5rem 1rem;
  
  }
  
  .footer__link {
    color: var(--cor-white);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 2500;
    transition: color var(--transition-padrao);
  }
  
  .footer__link:hover {
    color: var(--cor-accent);
  }