html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cor-white);
  color: var(--cor-black);
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* //////////////////////////////////////////////////////// header  /////////////////////////////////////////////////////////////////////////*/
header {
  background-color: var(--cor-header);
  padding: 1rem 0;
}

.header__logo-image {
  height: 80px;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

.header__link {
  color: var(--cor-white);
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
  transition: color var(--transition-padrao);
}

.header__link:hover {
  color: var(--cor-accent);
}

.register {
  background-color: var(--cor-accent); 
  border-radius: 15px; 
  padding: 2rem;
  max-width: 600px; 
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.register__form .form-label {
  font-weight: 600;
}

.register__btn, .register__back-btn {
  font-weight: 600;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
}

.register__back-btn {
  background-color: var(--cor-primaria);
  color: var(--cor-white);
}

.register__btn {
  background-color: var(--cor-primaria);
  color: var(--cor-white);
}

.register__btn:hover {
  background-color: var(--cor-secundaria);
   color: var(--cor-white);
}

.register__back-btn:hover {
  background-color: var(--cor-secundaria);
   color: var(--cor-white);
}

