/* reset geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* config padrão de todas as páginas */
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* padrão a's */
a {
  text-decoration: none;
  color: inherit;
}

/* links */
ul, ol {
  list-style: none;
}
