/* cores do projeto*/
:root {
  --cor-primaria: #7B2CBF;     /*  principal */
  --cor-secundaria: #9D4EDD;   /*  detalhes */
  --cor-accent: #C77DFF;      /*  claro (forms) */
  --cor-header: #5A188A;      /*  escuro (header) */


/* cores padrão */
  --cor-white: #ffffff;
  --cor-black: #000000;

/* animações e transições */
  --transition-padrao: 0.3s ease-in-out;
  --border-radius: 12px;
}
